# 视频文件
*.mov
*.mp4
*.avi
*.wmv

# Xcode
.DS_Store
xcuserdata/
*.xcuserstate
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# 其他大文件
*.zip
*.rar
*.tar.gz

# Swift Package Manager
.build/
Packages/
Package.pins
Package.resolved

# 其他大文件类型
*.zip
*.rar
*.7z
*.tar
*.gz